.gallery-body {
  display: block;
}
.gallery-body .gallery-body-actions-left {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery-body .gallery-body-action {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
}
.gallery-body .gallery-body-action i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.gallery-body .gallery-body-actions-right {
  position: absolute;
  top: 0;
  right: 0;
}
.gallery-body .gallery-body-description {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.gallery-body .gallery-body-cloaked {
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}
.gallery-body:hover.has-media-picker .gallery-body-cloaked, .gallery-body:focus-within.has-media-picker .gallery-body-cloaked {
  opacity: 1;
}